@charset "utf-8";

.shopping-client-smalltext{
	font-size:10px;
}

.shopping-client-text{
	font-size:18px;
}

.shopping-client-text-div{
	text-align:center;
	margin-top:20px;
}

.shopping-client-hint{
	font-size:18px;
	color:red;
}

.shopping-client-hint-div{
	text-align:center;
	margin-top:20px;
}

.shopping-main-setting-icon{
	width:14;
	height:14;
}

.shopping-main-frame-icon{
	width:50;
	height:50;
}

#clientName{
	width:80%;
	height:60px;
	font-size:18px;
}

.shopping-client-hint{
	font-size:18px;
	color:red;
}

.shopping-client-hint-div{
	text-align:center;
	margin-top:40px;
}

.shopping-main-frame-icon{
	width:50;
	height:50;
}




