@charset "utf-8";

.shopping-client-smalltext{
	font-size:28px;
}

.shopping-client-text{
	font-size:50px;
}

.shopping-client-text-div{
	text-align:center;
	margin-top:60px;
}

.shopping-client-hint{
	font-size:50px;
	color:red;
}

.shopping-client-hint-div{
	text-align:center;
	margin-top:40px;
}

.shopping-main-frame-icon{
	width:50;
	height:50;
}

#clientName{
	width:80%;
	height:60px;
	font-size:60px;
}

.easyui-textbox{
	width:80%;
	height:60px;
	font-size:48px;
}

