<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.shopping.mall.dao.OrderDao">
    <resultMap id="OrderBaseResultMap" type="com.shopping.mall.model.ShoppingMallOrder" >
        <id column="order_id" property="id" jdbcType="BIGINT" />
        <result column="payment" property="payment" jdbcType="DECIMAL" />
        <result column="status"   property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
        <result column="payment_time" property="paymentTime" jdbcType="VARCHAR" />
        <result column="consign_time" property="consignTime" jdbcType="VARCHAR" />
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="close_time" property="closeTime" jdbcType="VARCHAR" />
        <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
        <result column="receiver_area_name" property="receiverAreaName" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        
        <result column="receiver_zip_code" property="receiverZipcode" jdbcType="VARCHAR" />
        <result column="shipping_name" property="shippingName" jdbcType="VARCHAR" />
        <result column="shipping_code" property="shippingNo" jdbcType="INTEGER" />
        <result column="buyer_message" property="buyerMessage" jdbcType="VARCHAR" />
        <result column="buyer_nick" property="buyerNick" jdbcType="VARCHAR" />
        <result column="buyer_rate" property="buyerRate" jdbcType="VARCHAR" />
        <result column="receiver" property="receiver" jdbcType="VARCHAR" />
        <result column="expire" property="expire" jdbcType="VARCHAR" />
        <result column="invoice_type" property="invoiceType" jdbcType="VARCHAR" />
        <result column="source_type" property="sourceType" jdbcType="VARCHAR" />
        <result column="seller_id" property="sellerId" jdbcType="VARCHAR" />
        <result column="payment_type" property="paymentType" jdbcType="VARCHAR" />
        <result column="post_fee" property="postFee" jdbcType="VARCHAR" />
       
    </resultMap>
	<select id="findAll" resultMap="OrderBaseResultMap">
		SELECT * FROM t_order;
	</select>
	
	<select id="findOrderListByClientId" parameterType="java.lang.Integer" resultMap="OrderBaseResultMap">
		SELECT order_id, payment, status, create_time, payment_time, consign_time, 
		receiver_mobile, receiver_area_name,  user_id, user_name
		 FROM t_order t where t.user_id  = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="findOrderListByClientName" parameterType="java.lang.String" resultMap="OrderBaseResultMap">
		SELECT * FROM t_order t where t.user_name = #{userName,jdbcType=VARCHAR}
	</select>
	
	<select id="add" parameterType="com.shopping.mall.model.ShoppingMallOrder">
		insert into t_order (order_id, user_id, user_name, create_time, receiver_mobile, receiver_area_name, payment_time, consign_time)
         values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
          #{createTime,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, #{receiverAreaName,jdbcType=VARCHAR},
          #{paymentTime,jdbcType=VARCHAR}, #{consignTime,jdbcType=VARCHAR})
	</select>
	
	<select id="save" parameterType="com.shopping.mall.model.ShoppingMallOrder">
        update t_order set name = #{name,jdbcType=VARCHAR}, typeid = #{typeid,jdbcType=INTEGER}, 
               price = #{price,jdbcType=DECIMAL}, icon = #{icon,jdbcType=VARCHAR},
               remarks = #{remarks,jdbcType=VARCHAR}
         where id = #{id,jdbcType=INTEGER}

	</select>
	
	<delete id="delete" parameterType="java.lang.Integer" >
        delete from t_order
        where id = #{id,jdbcType=INTEGER}
    </delete>	
		 
	<select id="findOne" parameterType="java.lang.Long" resultMap="OrderBaseResultMap">
		SELECT * FROM t_order p where  p.order_id=#{id}
	</select>
	
	<select id="deleteOrders"  parameterType="java.util.List"> 
		delete from t_order where order_id in 
		<foreach collection="idList" index="index" item="id" open="(" separator="," close=")">
				#{id}
		</foreach>

	</select>
	
	
</mapper>